:root {
    --text-1: rgba(250, 250, 249, 1);
    --text-2: rgba(239, 237, 232, 0.65);
    --heading-h1-font-family: "Sora-Bold", Helvetica;
    --heading-h1-font-weight: 700;
    --heading-h1-font-size: 64px;
    --heading-h1-letter-spacing: 1px;
    --heading-h1-line-height: 72px;
    --heading-h1-font-style: normal;
    --heading-h2-font-family: "Sora-Bold", Helvetica;
    --heading-h2-font-weight: 700;
    --heading-h2-font-size: 56px;
    --heading-h2-letter-spacing: 1px;
    --heading-h2-line-height: 72px;
    --heading-h2-font-style: normal;
    --heading-h3-font-family: "Sora-Bold", Helvetica;
    --heading-h3-font-weight: 700;
    --heading-h3-font-size: 48px;
    --heading-h3-letter-spacing: 1px;
    --heading-h3-line-height: 56px;
    --heading-h3-font-style: normal;
    --heading-h4-font-family: "Sora-Bold", Helvetica;
    --heading-h4-font-weight: 700;
    --heading-h4-font-size: 28px;
    --heading-h4-letter-spacing: 1px;
    --heading-h4-line-height: 72px;
    --heading-h4-font-style: normal;
    --heading-h6-font-family: "Sora-SemiBold", Helvetica;
    --heading-h6-font-weight: 600;
    --heading-h6-font-size: 16px;
    --heading-h6-letter-spacing: 1px;
    --heading-h6-line-height: 72px;
    --heading-h6-font-style: normal;
    --body-normal-font-family: "Inter-Regular", Helvetica;
    --body-normal-font-weight: 400;
    --body-normal-font-size: 18px;
    --body-normal-letter-spacing: 0.2519999957084656px;
    --body-normal-line-height: 32px;
    --body-normal-font-style: normal;
    --body-bold-font-family: "Inter-Bold", Helvetica;
    --body-bold-font-weight: 700;
    --body-bold-font-size: 18px;
    --body-bold-letter-spacing: 1px;
    --body-bold-line-height: 24px;
    --body-bold-font-style: normal;
    --small-normal-font-family: "Inter-Regular", Helvetica;
    --small-normal-font-weight: 400;
    --small-normal-font-size: 14px;
    --small-normal-letter-spacing: 1px;
    --small-normal-line-height: 26px;
    --small-normal-font-style: normal;
    --mobile-heading-h2-font-family: "Sora-Bold", Helvetica;
    --mobile-heading-h2-font-weight: 700;
    --mobile-heading-h2-font-size: 24px;
    --mobile-heading-h2-letter-spacing: 1px;
    --mobile-heading-h2-line-height: 30px;
    --mobile-heading-h2-font-style: normal;
    --mobile-heading-h4-font-family: "Sora-Bold", Helvetica;
    --mobile-heading-h4-font-weight: 700;
    --mobile-heading-h4-font-size: 20px;
    --mobile-heading-h4-letter-spacing: 1px;
    --mobile-heading-h4-line-height: 30px;
    --mobile-heading-h4-font-style: normal;
    --mobile-heading-h6-font-family: "Sora-SemiBold", Helvetica;
    --mobile-heading-h6-font-weight: 600;
    --mobile-heading-h6-font-size: 14px;
    --mobile-heading-h6-letter-spacing: 0.5px;
    --mobile-heading-h6-line-height: 24px;
    --mobile-heading-h6-font-style: normal;
    --mobile-heading-h3-font-family: "Sora-Bold", Helvetica;
    --mobile-heading-h3-font-weight: 700;
    --mobile-heading-h3-font-size: 22px;
    --mobile-heading-h3-letter-spacing: 1px;
    --mobile-heading-h3-line-height: 30px;
    --mobile-heading-h3-font-style: normal;
    --mobile-body-normal-font-family: "Inter-Regular", Helvetica;
    --mobile-body-normal-font-weight: 400;
    --mobile-body-normal-font-size: 14px;
    --mobile-body-normal-letter-spacing: 0.0840000033378601px;
    --mobile-body-normal-line-height: 24px;
    --mobile-body-normal-font-style: normal;
}
